<!DOCTYPE HTML>
<html>
	<head>
		<title>TTY restaurant menus</title>
	</head>
	<body>
		<h1><%= date.strftime("%d.%m.%Y") %></h1>
		<% restaurants.each do |restaurant| %>
			<h2><%=CGI.escapeHTML restaurant.name.to_s%></h2>
			<% restaurant.menus.each do |menu| %>
				<h3><%=CGI.escapeHTML menu.name.to_s%></h3>
				<ul>
				<% menu.items.each do |item| %>
					<li><%=CGI.escapeHTML item.to_s%></li>
				<% end %>
				</ul>
			<% end %>
		<% end %>
		<hr />
		<p>
			Powered by: <a href="https://gitlab.com/Voker57/ttyfood">ttyfood</a>
		</p>
	</body>
</html>
